/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --accent-color:#ff0070;
  --main-line-height: 130%;
  --main-title-color: #db00ff;
  --section-title-color: #ff0070;
  --article-title-color: #000028;
  --hover-button-color: rgba(255, 0, 112, 0.4);
}

.page.theme_dark .header__decor-rec {
  display: block;
}

