/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --h1-font-color: #ffc2e6;
  --h2-font-color: #353430;
}

.page.theme_light .decorated-zone::after,
.page.theme_light .decorated-zone::before {
  --accent-color: #353430;
}

.page.theme_light .header__decor-rec {
  display: none;
}

.page.theme_light .header__theme-menu-button {
  color: var(--text-color);
}

.page.theme_light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
}

.page.theme_light .header__theme-menu-button:focus {
  outline: none;
}

.page.theme_light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--text-color);
}

.page.theme_light .header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --h1-font-color: #ffc2e6;
    --h2-font-color: #353430;
  }

  .decorated-zone::before,
  .decorated-zone::after {
    --accent-color: #353430;
  }

  .header__decor-rec {
    display: none;
  }

  .header__theme-menu-button {
    color: var(--text-color);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.4);
  }

  .header__theme-menu-button:focus {
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--text-color);
  }

  .header__theme-menu-button_active {
    pointer-events: none;
    outline: 1px solid var(--text-color);
  }
}
