/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: var(--main-text-size);
  font-family: var(--main-font-family);
  color: var(--text-color);
  line-height: var(--main-line-height);
}

.header {
  position: relative;
  block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
}

.decorated-zone::before {
  content: "";
  display: block;
  block-size: 25px;
  inline-size: 25px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  position: absolute;
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  display: block;
  block-size: 25px;
  inline-size: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.header__decor-rec {
  position: absolute;
  top: 10px;
  right: 39px;
  line-height: 139%;
  text-align: center;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__decor-rec::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  position: absolute;
  top: 8px;
  right: -20px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-item {
  inline-size: auto;
}

.header__theme-menu-button {
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding: 0px 12px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--h1-font-color);
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  align-self: center;
  color: #000028;
  font-weight: 700;
  margin-block: 53px 55px;
}

.break::before {
  content: "\A";
  white-space: pre;
}

.title-decor {
  background-color: var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__decor-rec {
    top: 20px;
    right: 48px;
  }

  .title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    inline-size: 50%;
    justify-self: end;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}
