/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font-family: "IBM Plex Mono", monospace, sans-serif;
  --main-text-size: 18px;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color:#ff0070;
  --main-line-height: 130%;
  --main-title-color: #db00ff;
  --section-title-color: #ff0070;
  --article-title-color: #000028;
  --hover-button-color: rgba(255, 0, 112, 0.4);
}
